MONGO_URI=mongodb+srv://zakaria:<Talgas@6018>@cluster0.igbbr2t.mongodb.net/?appName=Cluster0
JWT_SECRET=super-secret-jwt-key-change-in-production-2026
GEMINI_API_KEY=your-gemini-api-key-here
PORT=5000
